@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light dark;
    
    /* Light theme colors */
    --primary-100: oklch(0.92 0.04 264);
    --primary-200: oklch(0.77 0.10 264);
    --primary-300: oklch(0.62 0.16 264);
    --primary-content: oklch(0.32 0.16 264);
    
    --secondary-100: oklch(0.92 0.04 228);
    --secondary-200: oklch(0.77 0.10 228);
    --secondary-300: oklch(0.62 0.16 228);
    --secondary-content: oklch(0.32 0.16 228);
    
    --accent-100: oklch(0.92 0.08 290);
    --accent-200: oklch(0.77 0.14 290);
    --accent-300: oklch(0.62 0.20 290);
    --accent-content: oklch(0.32 0.20 290);
    
    --neutral-100: oklch(0.88 0.02 237);
    --neutral-200: oklch(0.73 0.03 237);
    --neutral-300: oklch(0.58 0.04 237);
    --neutral-content: oklch(0.33 0.03 237);
    
    --base-100: oklch(1.00 0.00 0);
    --base-200: oklch(0.93 0.01 237);
    --base-300: oklch(0.86 0.02 237);
    --base-content: oklch(0.20 0.02 237);

    --bg-top: oklch(0.95 0.01 237);
    --bg-bottom: oklch(0.91 0.01 237);
  }

  [data-theme="treelink-light"] {
    color-scheme: light;
  }

  [data-theme="treelink-dark"] {
    color-scheme: dark;
    
    /* Dark theme colors */
    --primary-100: oklch(0.28 0.06 264);
    --primary-200: oklch(0.43 0.12 264);
    --primary-300: oklch(0.58 0.18 264);
    --primary-content: oklch(0.86 0.18 264);
    
    --secondary-100: oklch(0.28 0.04 228);
    --secondary-200: oklch(0.43 0.10 228);
    --secondary-300: oklch(0.58 0.16 228);
    --secondary-content: oklch(0.86 0.18 228);
    
    --accent-100: oklch(0.28 0.08 290);
    --accent-200: oklch(0.43 0.14 290);
    --accent-300: oklch(0.58 0.20 290);
    --accent-content: oklch(0.86 0.20 290);
    
    --neutral-100: oklch(0.31 0.02 237);
    --neutral-200: oklch(0.46 0.03 237);
    --neutral-300: oklch(0.61 0.04 237);
    --neutral-content: oklch(0.85 0.03 237);
    
    --base-100: oklch(0.24 0.02 237);
    --base-200: oklch(0.32 0.02 237);
    --base-300: oklch(0.40 0.03 237);
    --base-content: oklch(0.93 0.00 237);

    --bg-top: oklch(0.17 0.02 237);
    --bg-bottom: oklch(0.22 0.02 237);
  }
}
