@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  brand colours:
  Blue: oklch(0.637 0.1125 247.26) / #4e91cc
  Yellow: oklch(0.8481 0.1728 89.9) / #f9c604

*/

@layer base {
  :root {
    color-scheme: light dark;

    /* Light theme colors */
    --primary: oklch(0.637 0.1125 247.26);
    --primary-100: oklch(0.687 0.1125 247.26);
    --primary-200: oklch(0.637 0.1125 247.26);
    --primary-300: oklch(0.587 0.1125 247.26);
    --primary-content: oklch(0.98 0.01 247.26);

    --secondary: oklch(0.8481 0.1728 89.9);
    --secondary-100: oklch(0.8981 0.1728 89.9);
    --secondary-200: oklch(0.8481 0.1728 89.9);
    --secondary-300: oklch(0.7981 0.1728 89.9);
    --secondary-content: oklch(0.25 0.05 247.26);

    --neutral-100: oklch(0.38 0.02 237);
    --neutral-200: oklch(0.42 0.03 237);
    --neutral-300: oklch(0.46 0.04 237);
    --neutral-content: oklch(0.95 0.015 237);

    --base-100: oklch(1 0 0);
    --base-200: oklch(0.96 0.01 237);
    --base-300: oklch(0.86 0.02 237);
    --base-content: oklch(0.2 0.02 237);

    --bg-top: oklch(0.93 0.005 237);
    --bg-bottom: oklch(0.91 0.015 237);
  }

  [data-theme="treelink-light"] {
    color-scheme: light;
  }

  [data-theme="treelink-dark"] {
    color-scheme: dark;

    /* Dark theme colors */
    --primary: oklch(0.637 0.1125 247.26);
    --primary-100: oklch(0.687 0.1125 247.26);
    --primary-200: oklch(0.637 0.1125 247.26);
    --primary-300: oklch(0.587 0.1125 247.26);
    --primary-content: oklch(0.98 0.01 247.26);

    --secondary: oklch(0.8481 0.1728 89.9);
    --secondary-100: oklch(0.8981 0.1728 89.9);
    --secondary-200: oklch(0.8481 0.1728 89.9);
    --secondary-300: oklch(0.7981 0.1728 89.9);
    --secondary-content: oklch(0.25 0.05 247.26);

    --neutral-100: oklch(0.91 0.01 237);
    --neutral-200: oklch(0.84 0.015 237);
    --neutral-300: oklch(0.79 0.018 237);
    --neutral-content: oklch(0.33 0.03 237);

    --base-100: oklch(0.3 0.02 237);
    --base-200: oklch(0.36 0.02 237);
    --base-300: oklch(0.41 0.03 237);
    --base-content: oklch(0.93 0 237);

    --bg-top: oklch(0.17 0.01 237);
    --bg-bottom: oklch(0.22 0.012 237);
  }
}
@layer components {
  .prose hr {
    @apply my-14 border-t-2 border-base-content/15 pb-6;
  }
}
