---

---

<footer class="pt-12 text-center">
  <hr class="my-4 border-t-2 border-base-content/20" />
  <a 
    href="https://github.com/mitchell-wallace/mori-link" 
    class="align-middle text-sm block py-4 no-underline text-base-content/50 hover:text-base-content"
  >
    <span class="items-center">
      <!-- <img
        src="/src/icons/link-lightmode.svg"
        alt="Link icon"
        class="w-6 h-6 mx-1 inline dark:hidden"
        loading="lazy"
      />
      <img
        src="/src/icons/link-darkmode.svg"
        alt="Link icon"
        class="w-6 h-6 mx-1 inline hidden dark:inline"
        loading="lazy"
      /> -->
      <span>
        Built with <span class="font-bold underline">MoriLink</span>: Build your own self-hosted link hub.
      </span>
    </span>
  </a>
</footer>
