---
import { SITE } from "@/siteConfig";

import BaseLayout from "@/layouts/BaseLayout.astro";

import Content from "@/components/Content.astro";
import PostList from "@/components/PostList.astro";
import SeoPage from "@/components/SeoPage.astro";
import Contact from "@/components/Contact.astro";
---

<BaseLayout>
  <SeoPage slot="head" />
  <main>
    <Content />
    { SITE.blog ? (<PostList />) : null }
    {
      SITE.contactFormEnabled ? (
        <Contact />
      ) : null
    }
  </main>
</BaseLayout>
