---

---

<footer class="pt-12 text-center">
  <hr class="my-4 border-t-2 border-lightModeCustomLinkOutline dark:border-darkModeCustomLinkOutline" />
  <a 
    href="https://github.com/mitchell-wallace/treelinkplusplus" 
    class="align-middle text-sm block py-4 no-underline text-lightModeForegroundMuted hover:text-lightModeForeground dark:text-darkModeForegroundMuted dark:hover:text-darkModeForeground"
  >
    <span class="items-center">
      <img
        src="/src/icons/link-lightmode.svg"
        alt="Link icon"
        class="w-6 h-6 mx-1 inline dark:hidden"
        loading="lazy"
      />
      <img
        src="/src/icons/link-darkmode.svg"
        alt="Link icon"
        class="w-6 h-6 mx-1 inline hidden dark:inline"
        loading="lazy"
      />
      <span>
        Built with <span class="font-bold underline">Treelink++</span>
      </span>
    </span>
  </a>
</footer>
